site_name: Phylogenetic Data Science (IN DEVELOPMENT)
repo_url: https://github.com/eaton-lab/phylogenetic-data-science
edit_uri: edit/master/docs/

theme: 
  name: material
  palette:
    - scheme: slate
      primary: teal
      # accent: orange
      toggle:
        icon: material/lightbulb
        name: Switch to light mode
    - scheme: default
      # primary: teal
      # accent: orange
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode
  favicon: /images/favicon.ico
  icon:
    logo: material/library

  features:
    - navigation.instant
    - navigation.tracking
    # - toc.integrate             # right-hav is always in toc
    - search.highlight
    - search.suggest
    - content.code.annotate # 
    # - navigation.indexes
    # - navigation.sections
    # - navigation.expand
    # - navigation.tabs.sticky

extra_css:
  - stylesheets/extra.css
extra_javascript:
  - javascripts/extra.js
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js  

extra:
  analytics:
    provider: google
    property: G-HV34HZZD5N
  # version:
    # provider: mike

markdown_extensions:

  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - meta
  - tables
  - md_in_html
  - toc:
      permalink: true

  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.snippets
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

plugins:
  - search

nav:
  - About/Ethos: index.md
  - Installation/Software: installation.md
  - Columbia course: course.md
  - 0 - Coding Bootcamp:
    - Getting started: bootcamp/getting-started.md
    - 0.0 - Installation (conda): bootcamp/0.0-installation-conda.md
    - 0.1 - Python Jupyter/Binder: bootcamp/0.1-jupyter-and-binder.md
    - 0.2 - Python types: bootcamp/0.2-python-types.md       # add link to vanderplas.
    - 0.3 - Python functions: bootcamp/0.3-python-funcs.md   # type hints at own link.
    - 0.4 - Python classes: bootcamp/0.4-python-classes.md   # 
    - 0.5 - Python style: bootcamp/0.5-python-style.md
    # - 0.6 - Python iterators: bootcamp/0.6-python-iterators.md
    # - 0.x - Python Data Science: bootcamp/python-datascience.md
    # - 0.x - Python Jit compilation: bootcamp/jit-compile.md
    # - 0.x - Python Algorithms: bootcamp/python-algorithms.md  # dynamic, iteration, 

  - 1 - Trees as data:
    - x.1 - Introduction: chapter-1/1.1-introduction.md
    - x.2 - Tree Thinking: chapter-1/1.2-tree-thinking.md
    - x.3 - Visualization: chapter-1/1.3-visualization.md
    - 1.4 - Tree data structure: chapter-1/1.4-features-of-trees.md
    - 1.5 - Code - Node class: chapter-1/1.5-code-node-class.md
    - 1.6 - Code - Tree traversal: chapter-1/1.6-code-tree-traversal.md
    - 1.7 - Code - Tree class: chapter-1/1.7-code-tree-class.md
    - x.7 - Exercises: chapter-1/1.6-exercises.md


  - 2 - Evolutionary models:
    - 2.0 - Modeling evolution: chapter-2/2.0-modeling-evolution.md
      # - x.1 - everything is descended from an ancestor
      # - x.1 - whether or not we can infer that past is a separate question.  
    - 2.1 - Idealized population: chapter-2/2.1-idealized-population.md

    - 2.2 - Wright-Fisher Process: chapter-2/2.2-wright-fisher.md
      # - x.1 - assumptions on evolutionary process
      # - x.1 - start by setting only population size and mutation
      # - x.1 - we can make predictions about genetic diversity
      # - x.1 - modeling and simulations
    - 2.3 - The Coalescent: chapter-2/2.3-coalescent.md
      # - x.1 - why coalescent thinking is powerful
      # - x.2 - what is the coalescent model
      # - 3.1 - Kingman Coalescent: 
      # - x.3 - why is this useful?
      # - x.4 - some math examples
      # - x.5 - probability statement, one rep is weak, many reps is strong.
      # - x.6 - retiterate assumptions and constraints.
    # - 2.2 - Coalescent Simulation: chapter-2/2.2-simulation.md
      # - x.1 - coalescent simulation software exists
      # - x.x - Code - estimate Ne using equations
      # - x.2 - demographic models
      # - x.3 - ...
    # - 2.2 - Species Trees: chapter-2/2.3-species-trees.md
      # - x.1 - 
      # - x.4 - Species Tree simulations (ipcoal): 3.4-ipcoal.md
      # - x.x - Code - MSC probability...
    # - 2.3 - Tree Sequences: chapter-2/2.4-tree-sequences.md
      # - x.1 - Recombinaiton
      # - x.2 - Genetic linkage
      # - x.3 - ARGs
    - 2.x - Exercises: chapter-2/2.x-exercises.md
    # - Reading and Exercises: 1-reading-list.md


# 1. how can we model a mutation: per generation a site one state to another: A->C 
# 2. if this process occurs at many sites independently, then a starting sequence of DNA changes over time.
# 3. on a tree, different samples share different starting states (MRCA).
# 4. So, if this process occurs on a tree, then it leads to some sequences more similar than others.
# 5. Demonstrate this.

# 6. That process we just showed, represents a very simple MARKOV process.
# 7. assumptions of this included equal rates.
# 8. Could be different, e.g., we can describe diff rates w/ a matrix.
# 9. Example...

# 10. Using a Markov model is valuable b/c it can estimate historical process
# 11. Examples: its used in ... DNA
# 12. Compared to e.g., parsimony assumptions, where we count OBSERVABLE changes..
  # this model can estimate the unobserved changes. Important b/c....
# 13. Functions to show the loss of information over time.


  - 3 - Mutation Models:
    - 3.0 - Modeling Evolution: chapter-3/3.x-DNA-Markov.md
      # Evolution and Information: 
      # Molecular Evolution:
    - 3.x - Probabilistic and Generative Models: .
      # - assumptions of this model.
      # - when is it used, and why.
      # - demonstrate its shortcomings compared to infinite (speed?)
    - 3.2 - Markov models: chapter-3/3.2-markov-models.md
      # - statistical properties of Markov models
      # - 
    # - 3.x - Bioinformatics: .
      # - x.x - mutation, substitution, allele, haplotype (terminology)
      # - x.x - orthology, homology, alignment
    - 3.x - Other models: 3.x-other-models.md
      # - x.x - phenotypic, stepwise, etc.
      # - x.x - infinite-sites model: .
        # - x.x - assumptions of this model.
        # - x.x - when is it used, and why.
        # - x.x - demonstrate its shortcomings using simulation
    - Reading and Exercises: 1-reading-list.md


  - 4 - Data:
    - x.1 - data formats: 4.1-data-formats.md
    - x.2 - strings, tables, and matrices: 4.2-strings-and-matrices.md
    - x.3 - SNP data (variant call format): 543-variant
    - x.x - Code - simulating data/traits: x.x-simulating-traits.md
    - x.x - Code - sequence alignment: x.x-sequence-alignment.md
    - x.x - Code - converting file formats: x.x-converting-file-formats.md
    - Exercises: read, write, parse, find, and clean phylip, fasta, fastq, and vcf data.

  - 5 - Phylogenetic Inference:
    - x.0 - introduction: .
    - x.1 - history: .
    - x.2 - choosing a method: .

  - 6 - Inference (Parsimony):
    - 6.0 - Fitch Parsimony: chapter-6/6.0-fitch-parsimony.md
    - 6.1 - Character matrices: chapter-6/6.1-fitch-multiple-traits.md
    - 6.2 - Sankoff Parsimony: . 
    # chapter-6/6.1-sankoff-parsimony.md
    # - 6.2 - Code - heuristic search: .
    # - 6.3 - Inferring: .
    # - Reading and Exercises: .

  - 7 - Inference (Distance-based):
    - 7.0 - Distance based trees: chapter-7/7.0-introduction.md
    - 7.1 - Code - Least-squares: chapter-7/7.1-least-squares.md
    - 7.2 - Code - UPGMA: chapter-7/7.2-upgma.md
    - 7.3 - Code - Neighbor Joining: chapter-7/7.3-neighbor-joining.md
    - 7.4 - Applied examples: chapter-7/7.4-applied.md
    - 7.5 - New Applications: chapter-7/7.5-new-applications.md 
    # - Exercises: TODO
    # - Reading: TODO

  - 8 - Inference (Likelihood):
    - x.0 - Maximum Likelihood: .
    - x.1 - Genealogies: .
    - x.2 - Sequences: .
    - x.3 - Inferring: .
    - Reading and Exercises: .

  - 9 - Multispecies Coalescent:
    - x.x - Species trees: .
    - x.x - Code - MSC likelihood: .
    - x.x - Code - MSC model fit: .
    - x.x - Tree search: .
    - x.x - Examples: .

